

// Cart
  #shopify-section-cart-template {

    h6 {
      font-size: 1em !important;
    }
    #cart-title {
      text-align: center;
      margin: 50px;
    }

    #cart-subtitle {
      text-align: left !important;
      padding: 0;
    }


    #separator {
      border-top: 2px solid #0FBEB2 ;
      margin-bottom: 25px;
      width: 100%;
    }


    #divleft {
      margin-right: 15px;

      #left {
        float:left;
      }

    }

    #divright {
      margin-left: 15px;
      #right {
        float:right;
        min-width: 67px;
      }
    }


    #cart-soustotal {
       display: flex;
       justify-content: space-between;

       span {
        font-family: 'gorditabold' !important;
       }
      }

    #soustotalsep {
      height: 2px;
      background-color: #0FBEB2;
      align: center;
      margin: 13px 0px;
      width: 100%;
      flex-grow: 1;
    }

    .payment {
    }

    span.plusmoins {
        padding: 8px 20px;
        border: solid 1px black;
        position:absolute;
        bottom:0;
        right:0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: white;
        cursor: pointer;
        width: 70% !important;
        font-family: 'gorditabold' !important;
        input {
          border: none;
          text-align: center;
          height: initial;
          min-height: initial;
          padding: 0 !important;
          line-height: initial;
          color: black;
          font: inherit;
          margin-bottom: initial;
        }
        .plusmoins-items {
          margin-top: 2px;
        }
      }


    @media (min-width: 1024px) {

      .mobile-only{
        display:none
      }


    }

     @media (max-width: 1024px) {

      .desktop-cart-items {
        display:none;

      }


       #divleft {
         margin-right: 5px;

         #left {
           float:left;
         }

       }

       #divright {
         margin-left: 5px;
         #right {
           float:right;
           min-width: 67px;
         }
       }

      #shopify-section-cart-template .payment {
        margin: 25px 0 !important;
      }

      .cart-item-image {
        position:relative;
      }

      .cart_content .product-quantity-box, #cart_form .product-quantity-box {
          width: 130px;
      }

      .product-quantity-box {
        position: absolute;
        right:0;
        bottom: 0;
        margin:0;
      }


    }

  }


// FOOTER

  .icon-footer {
    #footer-container{
      margin-top:0;
      padding-top: 0;
    }
  }

  .cart__blocks {
    margin-top: 0;
  }

  @media (min-width: 1024px) {

    .icon-footer {
      .cart-icons {
        display:flex;
        align-items: center;
        justify-content: space-around;
      }

      .cart-icon {
        margin: 25px 0;
        display: flex;
        flex-direction: column;

        p {
          font-family: 'gorditabold' !important;
          margin: 8px 0;
          text-align: center;

        }
      }
    }
  }

  @media (max-width: 1024px) {

    .icon-footer {
      .cart-icons {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }

      .cart-icon {
        margin: 25px 0;
        display: flex;
        flex-direction: column;

        p {
          font-family: 'gorditabold' !important;
          margin: 8px 0;
          text-align: center;
        }
      }
    }
  }





